nav ul {
  background-color: aqua;
  height: 10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /*  background-color: lightblue;background colour for the navigation bar */
  
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  .b1{
    position: absolute;
    left: 550px;
    bottom: 150px;
 
  }
  .b2{
    position: absolute;
  left: 750px;
  bottom: 150px;
  
  }
  
  .arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    bottom: 10
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}